body {
  background-color: #0b3d0b;
  color: #fefefe;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px;
  background-image: url(img/paisaje.jpg);
  background-position: center center;
  background-attachment: fixed;
}
.cuestio{
  background-image: url(img/jurassic.jpg);
}
.result{
background-image: url(img/dino.jpg);
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffcc00;
}

.formulario input {
  padding: 8px;
  width: 200px;
  max-width: 250px;
  border-radius: 8px;
  border: 2px solid #ffcc00;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  margin-bottom: 15px;
  outline: none;
  transition: 0.3s;
}

.formulario input:focus {
  box-shadow: 0 0 8px #ffcc00;
}

.contenedor {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #ffcc00;
}

h1, h2 {
  color: #ffcc00;
  text-shadow: 2px 2px 4px black;
}

fieldset {
  border: 2px solid #ffcc00;
  border-radius: 10px;
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
}

legend {
  font-weight: bold;
  color: #ffcc00;
}

label{
  display: block;
}

button {
  margin-top: 10px;
  background-color: #ffcc00;
  color: #000;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

button:hover {
background-color: #ff9900;
transform: scale(1.05);
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px black;
}

th, td {
  border: 1px solid #c9a300;
  padding: 10px;
  color:white;
}

th {
  color: #000;
  background-color: #ffcc00;
  font-size: 18px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ffcc00;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
